/* ---- OVERALL STYLES ---- */
body {
  font-family: "Montserrat";
}

.fontSubtle {
  font-family: "Georgia";
}

.white-background {
  background-color: #FFFFFF;
}

.gray-background {
  background-color: #f7f7f7;
}

.section-name {
  text-align: center;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
}

.subsection-name {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  font-family: "Montserrat";
}

.section-description {
  font-family: Georgia;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: #757575;
  margin-top: 0;
}

.subsection-description {
  font-size: 12px;
  font-style: italic;
  color: #757575;
  font-family: Georgia;
}

.theme-button {
  background-color: #F9D435;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s ease-out;
}

.theme-button:hover {
  background-color: #222222;
  color: #F9D435;
  transform: scale(1.1);
}

section {
  padding: 10px 0;
}

/* ---- HEADER ----*/
header .menuSmall {
  display: none;
}

header .hero {
  background: url("https://images.pexels.com/photos/269825/pexels-photo-269825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  height: 400px;
}

header .hero .logo {
  line-height: 40px;
  width: 80px;
  margin: 15px 0 0 20px;
}

header .hero nav {
  float: right;
  margin-top: 15px;
  font-size: 13px;
  font-family: Montserrat;
}

header .hero nav ul {
  list-style-type: none;
}

header .hero nav ul li {
  display: inline-block;
}

header .hero nav ul li a {
  width: 100px;
  text-align: center;
  line-height: 40px;
  display: block;
  height: 40px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
  transition: .2s ease-out;
}

header .hero nav ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #F9D435;
}

header .hero .slogan {
  color: white;
  text-align: center;
  padding: 30px;
}

header .hero .slogan .sloganInside {
  margin: 0 auto;
}

header .hero .slogan .sloganInside .welcome {
  font-style: italic;
  margin-top: 20px;
}

header .hero .slogan .sloganInside .sloganText {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

header .hero .slogan .sloganInside .theme-button {
  font-size: 12px;
  padding: 12px 25px;
  margin-top: 30px;
}

/* ---- SERVICES SECTION ---- */
.services {
  margin-top: 60px;
}

.services .section-description {
  margin: 0 0 60px 0;
}

.services .col {
  padding: 0 10px;
  margin-bottom: 60px;
}

.services .col .subsection-name {
  line-height: 30px;
  margin: 10px;
}

.services .col .subsection-description {
  text-align: center;
}

.services .col .service {
  text-align: center;
}

.services .col .service span {
  text-align: center;
  color: #F9D435;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  transition: all .2s linear;
  border-color: #F9D435;
  border-width: 3px;
  border-style: solid;
  padding-top: 10px;
}

.services .col .service span:hover {
  background: #222222;
  color: #F9D435;
  transform: scale(1.1);
}

/* ---- OUR PORTFOLIO ---- */
.our-portfolio {
  padding: 60px 0 80px 0;
}

.our-portfolio .section-description {
  margin-bottom: 60px;
}

.our-portfolio .pocket {
  text-align: center;
  width: 80%;
  background-color: white;
  padding: 5px;
  margin: 0 auto;
}

.our-portfolio .pocket .img {
  width: 100%;
  max-width: 290px;
  position: relative;
  margin: 0 auto;
}

.our-portfolio .pocket .img img {
  width: 100%;
}

.our-portfolio .pocket .subsection-name {
  font-size: 14px;
}

.our-portfolio .pocket .layer {
  font-size: 50px;
  padding-top: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: .3s;
}

.our-portfolio .pocket .layer a {
  color: #fff;
}

.our-portfolio .pocket .layer span:hover {
  color: #F9D435;
}

.our-portfolio .pocket .layer:hover {
  opacity: 1;
}

/* ---- ABOUT US SECTION ----*/
.about-us {
  padding: 60px 0;
}

.about-us .row {
  margin: 30px 0;
  display: -ms-flexbox;
  display: flex;
}

.about-us .row .date {
  text-transform: uppercase;
}

.about-us .row img {
  border-radius: 50%;
  border: solid 10px #f7f7f7;
  transition: .3s;
  width: 100%;
  max-width: 178px;
  height: auto;
  padding: auto 0;
}

.about-us .row img:hover {
  border: solid 10px #F9D435;
}

.about-us .row .left {
  padding-right: 30px;
}

.about-us .row .left .subsection-name {
  text-align: right;
}

.about-us .row .left p {
  text-align: right;
}

.about-us .row .right {
  text-align: left;
  padding-left: 30px;
}

.about-us .row .right .subsection-name {
  text-align: left;
}

.about-us .row .right p {
  text-align: left;
}

.about-us .story {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background: #F9D435;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: 25px;
  border: solid 10px #f7f7f7;
  transition: .2s;
}

.about-us .story p {
  margin-top: 40px;
}

.about-us .story:hover {
  background: #222222;
  color: #F9D435;
  border: solid 10px #F9D435;
}

/* ---- OUR AMAZING TEAM ----*/
.our-amazing-team {
  text-align: center;
  padding: 0 0 60px 0;
}

.our-amazing-team .col {
  padding: 0 10px;
}

.our-amazing-team .col .section-description {
  margin-bottom: 60px;
}

.our-amazing-team .col .subsection-name {
  font-size: 14px;
}

.our-amazing-team .col img {
  border-radius: 50%;
  width: 80%;
  max-width: 220px;
  height: auto;
  border: 10px solid white;
}

.our-amazing-team .col img:hover {
  border: 10px solid #F9D435;
}

.our-amazing-team .col [class^="sm-"] {
  display: inline-block;
  color: #222222;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  font-size: 15px;
  text-align: center;
  transition: all .2s linear;
}

.our-amazing-team .col [class^="sm-"] a {
  color: #222222;
}

.our-amazing-team .col [class^="sm-"]:hover {
  background: #222222;
  transform: scale(1.2);
}

.our-amazing-team .col [class^="sm-"]:hover a {
  color: #F9D435;
}

.our-amazing-team .col [class^="sm-"] span.fa::before {
  margin: 5px 0;
  display: block;
}

/* ---- CONTACT US SECTION ----*/
.contact-us {
  background-color: #222222;
  color: #FFFFFF;
  padding: 80px 0;
}

.contact-us .section-description {
  margin-bottom: 50px;
}

.contact-us .btn {
  margin: 20px;
}

.contact-us .btn:hover {
  color: #F9D435;
}

.contact-us .col {
  padding-top: 20px;
}

/* ---- FOOTER ---- */
footer {
  padding: 10px;
}

footer .copyright {
  font-family: "Montserrat";
  padding-top: 12px;
}

footer .social {
  text-align: center;
}

footer .social [class^="sm-"] {
  display: inline-block;
  background: #222222;
  color: #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
  font-size: 15px;
  text-align: center;
  transition: all .2s linear;
}

footer .social [class^="sm-"] a {
  color: white;
}

footer .social [class^="sm-"]:hover {
  background: #FFFFFF;
  color: #222222;
  transform: scale(1.5);
}

footer .social [class^="sm-"]:hover a {
  color: #222222;
}

footer .social [class^="sm-"] span.fa::before {
  margin: 8px 0;
  display: block;
}

/* -------------- RENSPONSIVE ------------------ */
/* ---- menu responsive ---- */
@media (max-width: 768px) {
  header .menuBig {
    display: none;
  }
  header .menuSmall {
    display: block;
  }
  header .menuSmall ul {
    width: 100%;
    background: #222222;
  }
  header .menuSmall ul a {
    color: #FFFFFF;
  }
  header .menuSmall:hover span {
    color: #F9D435;
  }
}

/* ---- hero responsive ---- */
@media (max-width: 768px) {
  header .welcome {
    font-size: 3vh;
  }
}

/* ---- about us responsive ----*/
@media (max-width: 768px) {
  .about-us .row {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
  }
  .about-us .row .left {
    padding-right: 0;
  }
  .about-us .row .left .subsection-name {
    text-align: center;
  }
  .about-us .row .left p {
    text-align: center;
  }
  .about-us .row .right {
    padding-left: 0;
  }
  .about-us .row .right .subsection-name {
    text-align: center;
  }
  .about-us .row .right p {
    text-align: center;
  }
  .about-us .row:nth-of-type(2n) {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .about-us .row .story {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */