$fontMain: 'Montserrat';
$fontSubtle: 'Georgia';

$themeColour: #F9D435;
$grayBackground: #f7f7f7;
$grayFont: #757575;
$darkGray: #222222;
$white: #FFFFFF;
$black: #000000;

/* ---- OVERALL STYLES ---- */
body {font-family: $fontMain;}
.fontSubtle {font-family: $fontSubtle;}
.white-background {background-color: $white;}
.gray-background {background-color: $grayBackground;}

.section-name {
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
}

.subsection-name {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    font-family: $fontMain;
}

.section-description {
    font-family: Georgia;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: $grayFont;
    margin-top: 0;
}

.subsection-description {
    font-size: 12px;
    font-style: italic;
    color: $grayFont;
    font-family: Georgia;
}

.theme-button {
    background-color: $themeColour;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s ease-out;
    &:hover {
        background-color: $darkGray;
        color: $themeColour;
        transform: scale(1.1);
    }
}
section {
    padding: 10px 0;
}

/* ---- HEADER ----*/
header {
    .menuSmall {display: none;}
    .hero {
        background: url('https://images.pexels.com/photos/269825/pexels-photo-269825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
        height: 400px;
       .logo {
            line-height: 40px;
            width: 80px;
            margin: 15px 0 0 20px;
       }
       nav {
        float: right;
        margin-top: 15px;
        font-size: 13px;
        font-family: Montserrat;
           ul {
            list-style-type: none;
               li{
                   display: inline-block;
                   a {
                    width: 100px;
                    text-align: center;
                    line-height: 40px;
                    display: block;
                    height: 40px;
                    text-decoration: none;
                    color: $white;
                    border-radius: 5px;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: .2s ease-out;
                    &:hover {
                        background: rgba(0, 0, 0, 0.3);
                        color: $themeColour;
                    }
                   }
               }
           }
       }
       .slogan {
            color: white;
            text-align: center;
            padding: 30px;
            .sloganInside {
                margin: 0 auto;
                .welcome {
                    font-style: italic;
                    margin-top: 20px;
                }
                .sloganText {
                    font-family: Montserrat;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 40px;
                }
                .theme-button {
                    font-size: 12px;
                    padding: 12px 25px;
                    margin-top: 30px;
                }
            }
       }
   } 
}

/* ---- SERVICES SECTION ---- */
.services {
    margin-top: 60px;
    .section-description {
        margin: 0 0 60px 0;
    }
    .col {
        padding: 0 10px;
        margin-bottom: 60px;  
        .subsection-name {
            line-height: 30px;
            margin: 10px;
        }
        .subsection-description {
            text-align: center;
        }
        .service {
            text-align: center;
            span {
                text-align: center;
                color: $themeColour;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                font-size: 25px;
                transition: all .2s linear;
                border-color: $themeColour;
                border-width: 3px;
                border-style: solid;
                padding-top: 10px;
                &:hover {
                    background: $darkGray;
                    color: $themeColour;
                    transform: scale(1.1);
                }
        }
        }
    }
}
/* ---- OUR PORTFOLIO ---- */

.our-portfolio {
    padding: 60px 0 80px 0;
    .section-description {
        margin-bottom: 60px;
    } 
    .pocket {
        text-align: center;
        width: 80%;
        background-color: white;
        padding: 5px;
        margin: 0 auto;
        .img {
            width: 100%;
            max-width: 290px;
            position: relative;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .subsection-name {
            font-size: 14px;
        }
        .layer {
            font-size: 50px;
            padding-top: 25%;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,0.4);
            top: 0;
            left: 0;
            color: #fff;
            text-align: center;
            opacity: 0;
            transition: .3s;
            a {
                color: #fff;
            }
            span:hover {
                color: $themeColour
            }
            &:hover {
            opacity: 1;
            }
        }
    }
}

/* ---- ABOUT US SECTION ----*/

.about-us {
    padding: 60px 0;
    .row {
        margin: 30px 0;
        display: flex;
        .date {
            text-transform: uppercase;
            }
        .picture {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 50%;
                height: 120%;
                border: 2px solid $grayBackground;
                z-index: 0;
                }
            img {
                border-radius: 50%;
                border: solid 10px $grayBackground;
                transition: .3s;
                width: 100%;
                max-width: 178px;
                height: auto;
                padding: auto 0;
                position: relative;
                z-index: 1;
                &:hover {
                    border: solid 10px $themeColour;
                    }
                }
            }
        .left {
            padding-right: 30px;
            .subsection-name {text-align: right;}
            p {text-align: right;}
        }
        .right {
            text-align: left;
            padding-left: 30px;
            .subsection-name {text-align: left;}
            p {text-align: left;}
        }
    }
    .story {
        width: 178px;
        height: 178px;
        border-radius: 50%;
        background: $themeColour;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-left: 15px;
        border: solid 10px $grayBackground;
        transition: .2s;
        p {
            margin-top: 40px;
        }
        &:hover {
            background: $darkGray;
            color: $themeColour;
            border: solid 10px $themeColour;
        }
    }
}


/* ---- OUR AMAZING TEAM ----*/ 
.our-amazing-team {
    text-align: center;
    padding: 0 0 60px 0;
    .col {
        padding: 0 10px;
        .section-description {
            margin-bottom: 60px;
        }
    .subsection-name {
        font-size: 14px;
    }
    img {
        border-radius: 50%;
        width: 80%;
        max-width: 220px;
        height: auto;
        border: 10px solid white;
        &:hover {
            border: 10px solid $themeColour;
        }
    }
    [class^="sm-"] {
        display: inline-block;
        color: $darkGray;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 2px;
        border-style: solid;
        border-width: 2px;
        font-size: 15px;
        text-align: center; 
        transition: all .2s linear;
        a {
            color: $darkGray;
        }
        &:hover {
            background: $darkGray;
            transform: scale(1.2);
            a {
                color: $themeColour;
            }
            }
            span.fa::before {
                margin: 5px 0;
                display: block;
            }
        }
    }
    }
/* ---- CONTACT US SECTION ----*/
.contact-us {
    background-color: $darkGray;
    color: $white;
    padding: 80px 0;
    .section-description {
        margin-bottom: 50px;
    }
    .btn {
        margin: 20px;
        &:hover {
            color: $themeColour;
        }
    }
    .col {
        padding-top: 20px;
    }

}

/* ---- FOOTER ---- */
footer {
    padding: 10px;
    .copyright {
        font-family: $fontMain;
        padding-top: 12px;
    }
    .social {
        text-align: center;
        [class^="sm-"] {
            display: inline-block;
            background: $darkGray;
            color: $white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 2px;
            font-size: 15px;
            text-align: center; 
            transition: all .2s linear;
            a {
                color: white;
            }
            &:hover {
                background: $white;
                color: $darkGray;
                transform: scale(1.5);
                a {
                    color: $darkGray;
                }
            }
            span.fa::before {
                margin: 8px 0;
                display: block;
            }
        }
    }
}



/* -------------- RENSPONSIVE ------------------ */

/* ---- menu responsive ---- */

@media (max-width: 768px) {
    header {
        .menuBig {
            display: none;
        }
        .menuSmall {
            display: block;
            ul {
                width: 100%;
                background: $darkGray;
                    a {
                    color: $white;
                    }
                }           
        &:hover {
                span {
                    color: $themeColour;
                }
            }
        }
    }
}

/* ---- hero responsive ---- */

@media (max-width: 768px) {
    header {
        .welcome {
            font-size: 3vh;
        }
    }
}

/* ---- about us responsive ----*/

@media (max-width: 768px) {
    .about-us {
        .row {
        flex-direction: column;
        text-align: center;
        .left {
            padding-right: 0;
            .subsection-name {text-align: center;}
            p {text-align: center;}
        }
        .right {
            padding-left: 0;
            .subsection-name {text-align: center;}
            p {text-align: center;}
        }
        &:nth-of-type(2n) {
            flex-direction: column-reverse;
        }
        .story {
            margin: 0 auto;
        }
    }
}}